.Comments{
    background-color: burlywood;
    margin-bottom: 2rem;
    border: 1px solid #555;
    border-radius: 22px;
    width: 99%;
    padding-left: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.Comments:hover {
    transform: translateY(-5px);
}